body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f2;
    margin: 0;
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #1995ad;
    color: #f1f1f2;
    height: 100vh;
    position: fixed;
  }
  
  .sidebar h2 {
    text-align: center;
    padding: 20px 0;
    background-color: #1995ad;
    margin: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
  }
  
  .sidebar ul li:hover,
  .sidebar ul li .active {
    background-color: #a1d6e2;
  }
  
  .sidebar ul li a {
    color: #f1f1f2;
    text-decoration: none;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    background-image: linear-gradient(to right, #a1d6e2, #f1f1f2);
  }
  
  .header {
    background: linear-gradient(to right, #1995ad, #a1d6e2);
    padding: 20px;
    border-radius: 8px;
    color: #f1f1f2;
  }
  
  .simulations-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .simulation-card {
    width: 30%;
    background-color: #a1d6e2;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .simulation-card:hover {
    transform: scale(1.05);
  }
  
  .simulation-card h3 {
    color: #1995ad;
  }
  
  .simulation-card p {
    margin: 10px 0;
  }
  
  .start-btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1995ad;
    color: #f1f1f2;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-btn:hover {
    background-color: #f1f1f2;
    color: #1995ad;
  }
  
  a {
    text-decoration: none;
  }
  